
<div class="hero-container">

  <img src=".\banner\0004_sterrekes.png" alt="sterrekes Image" class="background-image">
  <img src=".\banner\0003_maan.png" alt="maan Image" class="background-image maan">
  <img src=".\banner\0002_links.png" alt="linker Image" class="background-image links">
  <div class="hero-text">
      <h1>Luistersprookjes</h1>
  </div>
  <img src=".\banner\0001_kinders.png" alt="kinderen Image" class="characters-image kinders">
 <!--<img src=".\Images\banner\0000_voorste-wolken.png" alt="voorste wolken Image" class="characters-image wolken">--> 
</div>